/* 全局重置样式 */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, sans-serif;*/
    background: #9eb4ed;
}

/*@font-face {*/
/*    font-family: 'AlibabaPuHuiTi';*/
/*    src: url('/fonts/AlibabaPuHuiTi-3-55-Regular.otf') format('opentype');*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


* {
    outline: none;
    -webkit-tap-highlight-color: transparent; /* 手机/触控板 */
}


*,
:after,
:before {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, sans-serif;*/
    background: #bbccf6;
}



::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}