/* 全局重置样式 */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, sans-serif;*/
    background: #9eb4ed;
}


* {
    outline: none;
    -webkit-tap-highlight-color: transparent; /* 手机/触控板 */
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, sans-serif;*/
    background: #9eb4ed;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}